.container {
  width: 100%;
  padding-left: 10.5rem;
  padding-right: 10.5rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 124rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
