* {
  padding: 0;
  margin: 0;
  font-family: serif;
  box-sizing: border-box;
}

.container {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
}
.menu-container {
  display: flex;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  justify-content: flex-start;
  width: 100%;
  margin-top: 5px;
  align-items: center;
}
.list-c {
  width: inherit;
  padding-top: 10px;
}
.align {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.fa-solid {
  padding: 2px;
}
.anotherli {
  margin-right: 74px;
  background-color: #ff4f5a;
  width: 112px;
  padding: 5px;
  border: 2px solid #ff4f5a;
  border-radius: 11px;
  color: #fff;
}
.sidebar {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.classimg {
  width: 500px;
}

.ph1 {
  width: 21%;

  text-align: center;
}
.ph1 h2 {
  padding: 15px;
}

.buttom {
  display: flex;
  margin-top: 15px;
  justify-content: space-evenly;
}
.item2 {
  text-decoration: none;
  list-style-type: none;
  background-color: #ff4f5a;
  width: 112px;
  color: #fff;
  padding: 5px;
  border: 2px solid #ff4f5a;
  border-radius: 11px;
}
.sidebar2 {
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-right: 76px;
}
.text2 {
  text-align: center;
  width: 20%;
}
.ph2 {
  width: 58.5%;
  padding: 36px;
  text-align: center;
}
.img22 {
  width: 500px;
}
.insidedivparent {
  display: flex;
  justify-content: center;
}
.buttom2 {
  display: flex;
  margin-top: 15px;
  justify-content: space-evenly;
}

.item3 {
  text-decoration: none;
  list-style-type: none;
  background-color: #ff4f5a;
  width: 112px;
  padding: 5px;
  color: #fff;
  border: 2px solid #ff4f5a;
  border-radius: 11px;
}
.inside-div h1 {
  font-weight: normal;
}

.inside-div {
  text-align: center;
  margin-top: 10px;
  width: 21%;
  font-size: 11px;
  border: 2px solid #385a64;
  padding: 14px;
  color: #fff;
  background-color: #385a64;
  border-radius: 22px;
}
.inside-div h6 {
  font-weight: 500;
  font-size: 15px;
}
.inside {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.card {
  text-align: center;
}
.insidelast {
  margin: 10px;
  margin-top: 15px;
  display: flex;

  width: 64%;
}
.card h3 {
  margin-bottom: 7px;
}
.inside-blue {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.inside-b1 {
  text-align: center;
  width: 100%;
}
.inside-b2 {
  width: 17%;
}
.img3 {
  display: flex;
  justify-content: center;
}
.img3 img {
  width: 500px;
}
.cardinside {
  margin: 10px;
  margin-top: 15px;
  display: flex;
  width: 64%;
  justify-content: center;
}
.card1 {
  text-align: center;
}
.cardinsideparent {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.listblue {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 10px;
  font-weight: 700;
  align-items: center;
}
.list-blue {
  font-family: "Font Awesome 5 Brands";
  width: 133px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}
.seckol {
  background-color: #ff4f5a;
  color: #fff;
}
html {
  width: fit-content;
}
.inside-b1 h1 {
  font-size: 26px;
}
@media screen and (max-width: 922px) {
  .sidebar {
    flex-direction: column;
    margin: 0 auto;
  }
  .list-blue {
    width: 133%;
    padding-bottom: 15px;
    font-size: 13px;
  }
  .inside-b1 h1 {
    font-size: 20px;
  }

  .card {
    margin-bottom: -44px;
    text-align: center;
    padding: 36px;
  }
  .sidebar2 {
    margin: 0 auto;
    flex-direction: column-reverse;
  }
  .card h3 {
    margin-bottom: 3.5px;
  }
  .ph1 {
    width: 100%;
    padding: 0px 42px 0 18px;
  }
  .text2 {
    text-align: center;
    width: 100%;
    padding: 0px 42px 0 18px;
  }
  .buttom {
    justify-content: space-evenly;
  }
  .inside-div {
    width: 57%;
    margin: 53px 0 28px 0;
  }
  .insidelast {
    flex-wrap: wrap-reverse;
    width: 100%;
    align-items: center;
  }
  .card1 {
    margin-bottom: 24px;
  }
  .inside-b1 {
    width: 57%;
  }

  .cardinside {
    flex-wrap: wrap-reverse;
  }
  html {
    width: 107%;
  }
  .classimg,
  .classimg2,
  .img22,
  .im33,
  .sidebar,
  .sidebar2,
  .container,
  .insidedivparent,
  .inside,
  .list-blue,
  .listblue,
  .inside-blue {
    width: 100%;
  }
}
@media screen and (max-width: 647px) {
  .list-blue {
    font-size: 9px;
  }
}
@media screen and (min-width: 50px) {
  .list-blue {
    width: 100%;
  }
  .list-blue:nth-child(5) {
    padding-right: 57px;
  }
  .list-blue:nth-child(1) {
    padding-left: 42px;
  }
  html {
    width: fit-content;
  }
}
